/*
Look and feel its here using bootstrap
*/

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-toggle .icon-bar{
    height: 3px;
    border-radius: 2px;
    background-color: #6bb9ff;

}
.navbar-toggle .icon-bar+ .icon-bar{
    height: 3px;
    border-radius: 2px;
    background-color: #6bb9ff;

}
.navbar-toggle .icon-bar+ .icon-bar+.icon-bar{
    height: 3px;
    border-radius: 2px;
    background-color: #6bb9ff;

}

/*.navbar-default .navbar-toggle .icon-bar {*/
    /*background-color: black;*/
/*}*/
@media(min-width:768px) {
    body {
        /* Padding for .navbar-fixed-top. Need to change if height of navigation changes. */
        padding-top: 10px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.navbar-nav>li>p {
    padding: 15px;
}

.row {
    margin-top: 20px;
}

.rederror, .errorlist {
    color: red;
}

.clickable-row {
    cursor: pointer;
}