html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
#wraper {
    margin-left: 5%;
}
#menu {

    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px 2px #333333;
    background-color: #81e7ff;
        border-radius: 8px;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
display: inline;
padding: 20px;
}

#menu a {
    text-decoration: none;
    color: #0000ff;
    padding: 8px 8px 8px 8px;
    background-color: #da89ff;
    border-radius: 8px;
}

#menu a:hover {
    color: #ffd23c;
    background-color: #FFF;
}
