{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Authorisation Claims View{% endblock %}
<body>
{% block content %}
    <div class="row">
        <div class="col-md-3 col-centered" >
            <div class="smooth_border">
            <form method="post" action="{% url 'claims:authorisation_claims' %}">
                {% csrf_token %}

                {{ claim_filter|crispy }}

                <button id="id_claim_filter_button" class="btn, btn-primary" type="submit" name ="Filter">
                       Apply Filter</button>

            </form>
            </div>
        </div>
        <div class="col-md-8 col-centered">
            <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectall" value="">Select all</th>
                    <th>Employee</th>
                    <th>Date</th>
                    <th>Claim Type</th>
                    <th>Value</th>

                </tr>
                </thead>
                <form method="post" action="{% url 'claims:authorisation_claims' %}">
                {% csrf_token %}
                <tbody>

                    {% for claim in claims %}
                        <tr>
                            <td><input class="checkbox1" type="checkbox" name={{ claim.id }} value="claim_id"></td>
                            <td>{{ claim.owner }}</td>
                            <td>{{ claim.date|date:"D d M Y" }} </td>
                            <td>{{ claim.type }}</td>
                            <td>{{ claim.claim_value }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
                <input id="id_authorise_claims_button" class="btn, btn-primary" type="submit"
                       value="Authorise selected">
                </form>
            </table>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if claims.has_previous %}
                        <a id="id_previous_page" href="?page={{ claims.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ claims.number }} of {{ claims.paginator.num_pages }}.
                    </span>

                    {% if claims.has_next %}
                        <a id="id_next_page" href="?page={{ claims.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
         </div>
    </div>
{% endblock %}
{% block forms %}{{ claim_filter.media }}{% endblock %}
</body>

