{% extends "base.html" %}
{% block title %}Home{% endblock %}
<body>
    {% block content %}
        {% if user.is_authenticated %}
            <!--suppress HtmlUnknownTarget -->
            <p>
                <a id= "view_claims_button" class="btn btn-primary" href="/claims/view_claims/"
                   role="button">view your current claims</a>
            </p>
            <p>
                <a id= "new_claim_button" class="btn btn-primary" href="/claims/new_claim/"
                   role="button">create a new claim</a>
            </p>
        {% endif %}
    {% endblock %}
</body>
